*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.buttonDefault {
  padding: 0.3em;
  text-align: center;
  color: white;
  background: orange;
  border-radius: 0.15em;
  border: none;
}
